.bg{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-999;

}
.bg img{
	width: 100%;
}

.im_class {
	width = "50%";
	/*position:absolute;*/
	/*margin-top: 100px;*/
	top:1000px;

}

header{
	background-color: rgba(0, 0, 0, 0.6);
	/*background-image: url('../images/Sagrada Familia.jpg');*/	color: white;
	text-align: center;
	font-size: 30px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	display: block;
	z-index: 9999;	
}

footer{
	background-color: rgba(0, 0, 0, 0.6);

	color:white;
	text-align: center;
	font-size: 14px;
	position:fixed;
   	bottom: 0;
   	left:0;
   	width:100%;
   	height:40px;
}



span{
	border: 1px solid #fff; /* 這是連結的框框*/
  	font-size: 14px;
  	line-height: 40px;
  	border-radius: 3px;
  	padding: 2px 15px;
  	text-decoration: none; /* 這是連結下面那個底線*/
  	margin-top: 5px;
  	color: white;
  	width: 100%;
}



.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  /*z-index: 9999;*/
  position: fixed;
  /*top:42.5px;*/
  display: block;
}

.inner {
    position: relative;
    margin: 0 auto;/* 這是讓她置中*/
    text-align: center;
}

.navbar a {
  display: inline-block;
  border: 1px solid #fff; /* 這是連結的框框*/
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none; /* 這是連結下面那個底線*/
  margin-top: 5px;
  color: white;
}