.bg{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-999;

}
.bg img{
	width: 100%;
}

.hugepic {
	position:relative;
	top:50px;
	margin: 0;
	padding:0;

}

.hugepic img{
	width:100%;
}

.HeaderWithMargin{
	position: relative;
	padding-left:15%;
	top:50px;
}


.pAlignLeft{
	position:relative;
	padding-left:15%;
	top:50px;
	width:70%;
}

#AboutMeImg {
	margin : 0 auto;
	margin-top:70px;
	text-align: center;
	position relative;
	/*top:50px;*/
	
}

#AboutMeImg img{
	width: 70%;
	
	
}

.NoMarginBody{
	margin:0;
	padding:0;
}


header{
	background-color: rgba(48,199,189,1);
	color:white;
	text-align: center;
	position: fixed;
	width: 100%;
	left:0;
	top:0;
	display: block;
	z-index: 9999;	
	font-size: 30px;

}

footer{
	background-color: rgba(48,199,189,1);
	color:white;
	text-align: center;
	position:fixed;
	width:100%;
   	bottom: 0;
   	left:0;
   	height:40px;
   	font-size: 14px;
}



span{
	border: 1px solid #fff; /* 這是連結的框框*/
  	font-size: 14px;
  	line-height: 40px;
  	border-radius: 3px;
  	padding: 2px 15px;
  	text-decoration: none; /* 這是連結下面那個底線*/
  	margin-top: 5px;
  	color: white;
  	width: 100%;
}



.navbar {
  width: 100%;
  background-color: rgba(48,199,189,1);
  height: 40px;
  /*z-index: 9999;*/
  position: fixed;
  /*top:42.5px;*/
  display: block;
}

.inner {
    position: relative;
    margin: 0 auto;/* 這是讓她置中*/
    text-align: center;
}

.navbar a {
  display: inline-block;
  border: 1px solid #fff; /* 這是連結的框框*/
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none; /* 這是連結下面那個底線*/
  margin-top: 5px;
  color: white;
}