table{
	position:relative;
	margin-left:15%;
	top:50px;
	/*width:70%;*/
	border-radius: 0 0 25px 25px;
	border:3px solid black;
}

table caption{
	background:grey;
	border-radius:25px 25px 0 0;
}

tr:nth-child(odd){
	background:#F2F2F2; 

}
tr:nth-child(even){
	background:#CDBB79; 

}

tr:last-child>td:first-child{
	border-radius:0 0 0 25px;
}
tr:last-child>td:last-child{
	border-radius:0 0 25px 0;
}

td{
	width: 100px;
	height: 100px;
	vertical-align:top;
}

.secret{
	display:block;
	visibility:hidden;
	font-size: 20px;
	color:white;
}

td:hover>span.secret{
	visibility:visible;
}

.old{
	color:grey;
}